xcuserdata/
DerivedData/
xcworkspace/
*.xcworkspace
*.xcodeproj/project.xcworkspace


*.app
*.ipa
*.xcarchive
*.dSYM


.swiftpm/
.build/
Packages/
*.resolved


Pods/
Podfile.lock


.DS_Store
Thumbs.db


Secrets.swift
.env


*.plist
